body{
    background-image: url(../img/libreria.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
img{
    border-radius: 300px;
    height: 160px;
    width: 160px;
}
table{
    background-color: #6E6E6E;
    width: 45%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 40px;
}
tr, td{
    padding: 7px;
    border: solid 1px;
}
thead{
    background-color: black;
    color: red;
    border-bottom: solid 2px white;
    border-radius: 40px;
    border: solid 1px;
}
tr:nth-child(even){
    background-color: #585858;
}
tr:hover td{
    background-color: black;
    color: red;
}
input{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: red;
    font-size: 1vw;
}
button{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: red;
    font-size: 1vw;
}
a{
    text-decoration: none;
    color: red;
}
h3{
    font-size: 1.2vw;
}
textarea{
    border-radius: 10px;
    background-color: black;
    color: red;
    font-size: 1vw;
}
.cabeza{
    background-color: black;
    color: red;
    border-bottom: solid 2px white;
    border-radius: 40px;   
}
.boton{
    width: 40%;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: red;
    font-size: 1vw;
}
.ventana{
    background: black;
    width: 30%;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 34%;
    top: 35%;
    display: none;
}